html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #f8f8ff;
}

h1, h2, h3, h4, h5, h6, .title-text {
    font-family: 'Archivo', sans-serif;
}

header {
    transition: all 0.3s;
}

#hero-text {
    font-size: 8rem;
    font-weight: bold;
}