html, body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  /* background-color: #eef3db; */
  background-color: #dcdcdc;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, .title-text {
  font-family: "Archivo", sans-serif;
}

header {
  transition: all 0.3s;
}

.hero-text {
  font-size: 8rem;
  color: #f5f5f5;
  /* color: #383838; */
}

.hero-subtitle {
  font-size: 3rem;
  color: #f5f5f5;
}

#hero-container {
  background: linear-gradient(rgba(69, 69, 69, 0.7), rgba(69, 69, 69, 0.7)), url("ou.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.floating-nav {
  background-color: #353535;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.4s;
}

.navbar {
  padding: 0;
}

.nav-item {
  padding: 0.5rem 1rem;
}

.nav-link {
  color: #fff;
  width: 100%;
  height: 100%;
  font-weight: bold;
  font-family: "Archivo", sans-serif;
}

.nav-link:hover {
  transition: all 0.4s;
  color: #4ad7d1;
}

#hero-image {
  max-width: 100%;
  max-height: 100%;
}

.scroll-down-chevron {
  font-size: 6rem;
  position: absolute;
  bottom: 0;
  transition: all 0.4s;
  margin-bottom: 20px;
  color: #fff;
}

.scroll-down-chevron:hover {
  transform: translateY(15px);
  cursor: pointer;
  color: #fe615a;
}

.link-container {
  padding: 0;
  margin: 0;
}

.section-wrapper {
  position: relative;
}

.sticky {
  position: fixed;
}

.section-title {
  font-family: "Roboto", sans-serif;
  font-size: 5rem;
  font-weight: 300;
  color: #383838;
}

.subheading {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 400;
}

.subheading-detail {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  display: block;
  width: 100%;
}

.fit-image {
  width: 100%;
}

.social-icon {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: #383838;
  transition: all 0.4s;
}

.social-icon-inline {
  font-size: 2.5rem;
  color: #383838;
  transition: all 0.4s;
}

.social-icon:hover {
  cursor: pointer;
}

.linkedin-hover:hover {
  color: #0e76a8;
}

.twitter-hover:hover {
  color: #1da1f2;
}

.github-hover:hover {
  color: #000
}

.social-list li {
  display: inline;
  margin-right: 1.5rem;
}

.social-list li:last-child {
  margin-right: 0px;
}

.social-list {
  padding: 0;
  margin-top: 1rem;
}

.project-shot {
  width: 100%;
}

.odd-section {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

li {
  margin: 10px 0px;
  font-weight: 300;
}

.github-inline {
  float: right;
  margin-right: 4.1rem;
  opacity: 70%
}

.thin {
  font-weight: 300;
}

.icon-label {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  color: #383838;
  font-style: normal;
  text-decoration: none;
}

.contact-item {
  display: flex;
  flex-direction: column;
}

.contact-item:hover {
  color: rgb(163, 38, 38);
  font-style: normal;
  text-decoration: none;
}

.class-tag {
  font-family: "Roboto", sans-serif;
}